
<!-- Default unchecked disabled -->
<div class="mid">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" >
  <label class="custom-control-label" for="defaultUncheckedDisabled2">Item 1</label>
</div>
<br>
<!-- Default checked disabled -->
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" >
  <label class="custom-control-label" for="defaultCheckedDisabled2">Item 2</label>
</div>
  <br>
  <!-- Default unchecked disabled -->
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
  <label class="custom-control-label" for="defaultChecked2">Item 3</label>
</div>
</div>
